@font-face {
  font-family: "Palace Script MT";
  src: url('../fonts/PALSCRI.TTF') format("truetype");
}

.jumbotron {
    border: 1px solid #BD9B2F;
    background-color: transparent;
    margin-bottom: 80px;
    margin-top: 60px;
    padding: 20px;
}

.col-md-8 {
    color: #BD9B2F;
}

.col-md-8 p {
    color: #C6B68B;
}

.col-md-8 h1 {
    font-family: "Palace Script MT";
    border-bottom: 1px solid #BD9B2F;
}

.col-md-8 h2 {
    font-size: 3em;
    padding: 2px;
}

.col-md-12 h1 {
    padding-top: 20px;
    color: #C6B68B;
    font-size: 3em;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    color: #BD9B2F;
    font-weight: normal;
}
.marketing .col-lg-4 p {
    color: #C6B68B;
    padding: 10px 0 5px 0;
    margin-right: 30%;
    margin-left: 30%;
}

/* BUTTONS style override */

.marketing .btn-default {
    color: #BD9B2F;
    background: none;
    border-color: #BD9B2F;
}


/* Featurettes
------------------------- */


.featurette-divider {
    border-color: #BD9B2F;
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.featurette-heading-sm {
    font-weight: 100;
    line-height: 1;
    margin-bottom: 40px;
}

.featurette-heading .text-muted {
    color: #C6B68B;
}

.featurette-section {
    border-left: 1px solid #BD9B2F;
    padding: 40px;
}

.featurette-section .section-heading {
    font-size: 2em;
}

.featurette-desc {
    color: #333;
}


.featurette-list li {
    color: #333;
    padding: 5px;
    font-size: 1.5em;
}

.featurette-options {
    margin: 80px 0;
}



/* FIX FOR VERTICAL ALIGN OF JUMBO TEXT */

@media (max-width: 768px) {
    .col-md-4 img {
        max-height: 40%;
        max-width: 40%;
        align-content: center;
        margin-left: 30%;
        margin-right: 30%;
    }

    .col-md-8 h1 {
        border-bottom: none;
        font-size: 4em;
    }

    .col-md-8 div {
        margin-left: 12.5%;
        width: 75%;
        border-bottom: 1px solid #BD9B2F;
    }

    .col-md-8 h2 {
        font-size: 2em;
    }

    .col-md-12 h1 {
        font-size: 1.5em;
    }
}

@media (min-width: 768px) {

    .col-md-8 h1 {
        font-size: 7em;
    }


    .col-md-12 h1 {
        font-size: 2.5em;
    }
}

@media (min-width: 992px){

    .col-md-8 h1 {
        font-size: 7.5em;
    }
    .col-md-8 {
        margin-top: 0.5%;
    }

    .col-md-12 h1 {
        font-size: 2.5em;
    }

    .marketing .col-lg-4 p {
        margin-right: 10%;
        margin-left: 10%;
    }

    .featurette-heading {
        margin-top: 80px;
    }
}

@media (min-width: 1200px) {
    .col-md-8 h1 {
        font-size: 9em;
    }

    .col-md-8 h2 {
        font-size: 3.5em;
    }

    .col-md-8 {
        margin-top: 1%;
    }
}